.tv-show-card {
    display: flex;
    background: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.tv-show-card .picture {
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.tv-show-card .picture:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, transparent, black);
    z-index: 1;
}

.tv-show-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.tv-show-card .title {
    padding: 6px;
    position: absolute;
    bottom: 0;
    right: left;
    color: white;
    font-size: 24px;
    z-index: 2;
}

.tv-show-card .overview {
    flex-grow: 2;
    font-size: 13px;
    padding: 12px;
}