body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, button, textarea, select {
  outline: none;
}

input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

input:hover {
  border-color: #ccc;
}

input:focus {
  border-color: #bbb;
}


button {
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  border: 0;
  color: white;
  border-radius: 2px;
  background: #5a7;
  transition: background 0.1s linear;
}

button:hover {
  background: #6b8;
}

button:focus {
  background: #7c9;
}